{% extends 'base.html' %}

{% block title %}Event Detail{% endblock title %}

{% block content %}

<p>Title: {{ event.title }}</p>
<p>Approved: {{ event.is_approved }}</p>
<p>Start Time: {{ event.start_date }} | End Time: {{ event.end_date }}</p>
<p>Overview: {{ event.overview }}</p>

<hr>

{% for idea in ideas %}
<p>{{ idea.title }} &middot; {{ idea.overview }} &middot; <span onclick="upvoteIdea({{ idea.pk }})">upvote</span>: {{ idea.upvotes.count }} {% if idea.is_liked %} &middot; liked by you {% endif %}</p>
    <form id="upvote-idea-{{ idea.pk }}" type="hidden" action="{% url 'upvote-idea' event.pk idea.pk %}" method="post">
        {% csrf_token %}
    </form>
{% endfor %}

{% if user.is_authenticated %}

<hr>

<div class="w-50 mb-3">
<form action="{% url 'create-idea' event.pk %}" method="post">
    {% csrf_token %}
    {{ idea_form.as_p }}
    <button type="submit">Create Idea</button>
</form>
</div>

{% endif %}

<script>
function upvoteIdea(idea_id) {
    document.getElementById(`upvote-idea-${idea_id}`).submit();
}
</script>

{% endblock content %}
