{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}
        <h2>Welcome to Hack Events</h2>
        </br>

        <h3>Active Hack Events</h3>
        {% for event in active_hack_events %}
            <p>{{ event.title }}</p>
            <p>{{ event.overview }}</p>
        {% endfor %}

        </br>

        <h3>Coming Hack Events</h3>
        {% for event in coming_hack_events %}
            <p>{{ event.title }}</p>
            <p>{{ event.overview }}</p>
        {% endfor %}

        </br>

        <h3>Past Hack Events</h3>
        {% for event in past_hack_events %}
            <p>{{ event.title }}<p>
            <p>{{ event.overview }}</p>
        {% endfor %}
{% endblock content %}
