{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}
        <h1>Welcome to Hack Events</h1>

        <h2>Active Hack Events</h2>
        {% for event in active_hack_events %}
            <h3>{{ event.title }}</h3>
            <p>{{ event.overview }}</p>
        {% endfor %}

        </br>

        <h2>Coming Hack Events</h2>
        {% for event in coming_hack_events %}
            <h3>{{ event.title }}</h3>
            <p>{{ event.overview }}</p>
        {% endfor %}

        </br>

        <h2>Past Hack Events</h2>
        {% for event in past_hack_events %}
            <h3>{{ event.title }}</h3>
            <p>{{ event.overview }}</p>
        {% endfor %}
{% endblock content %}
